header{
  top: 0%;
  background-color: #2e1701f3;
  position:sticky;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  z-index: index 1;
}
header h1{
  color: orangered;
}
form{
  background-color: #000000;
  display: flex;
  align-items: center;
  
  width: 300px;
  height: 50px;
  border-radius: 20px;
}

form button{
  color:black;
  background-color:orangered ;
  border:orangered;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 50px;
  margin-left:10px ;
}
form label{
  color: orangered;
  margin-left:15px 
}
form input{
  
  color: orangered;
  border-width: 2px;
  border-color: orangered ;
  background-color: #000000;
  margin-left:15px 
}
.card{
  width:300px;
  height:500px;
  border-width: 5px;
  border-color: orangered;
  background-color: #0a0a0a;
  margin: 20px;
  border-radius: 20px;
  
}

.comg{
  width:300px;
  height:250px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.card h4{
  color:orangered;
  margin-left: 10px;
}
.listM{
  display: flex;
  background-color: #2e1701f3;
  width: 20px;;
  margin:1%;
  border-radius:20px;
  
  
}
.listM h1{
  color:orangered
}
.movie-app > .row{
  display: flex;
  flex-direction: row;
  overflow:auto;
  border-radius: 20px;
  background-color: #2e1701f3;
  flex-wrap: nowrap;
  justify-content:center;
  width: 80%;
  height:20%;
  
  
}
.movie-app{
  margin-left:10%;
  
  
  
}